        #popup
        {  
            top:20%;
            position:relative;
            margin: 0 auto; 
        }

        #overlay{
            position:absolute;
            top:0px;
            visibility:hidden;
            background-color:rgba(0,0,0,0.71);
            opacity:1;
            left:0px;
            height:100%;
            width:100%;
            text-align:center;
        }
        
        #overlay:target{
            visibility:visible;
            -webkit-animation: fade 800ms ease;
        }
        #overlay:target > #popup{
             -webkit-animation: moveFromBottom 800ms ease;
        }
        @-webkit-keyframes fade{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;        
            }
        }
        
        
        @-webkit-keyframes moveFromBottom{
            from {
                -webkit-transform: scale(.5);
                opacity: 0;
            }
            to {
                -webkit-transform: scale(1);
                opacity: 1;        
            }
        }
        
        @-moz-keyframes fade{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;        
            }
        }
        
        
        @-moz-keyframes moveFromBottom{
            from {
                -webkit-transform: scale(.5);
                opacity: 0;
            }
            to {
                -webkit-transform: scale(1);
                opacity: 1;        
            }
        }
        
        
        @-ms-keyframes fade{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;        
            }
        }
        
        
        @-ms-keyframes moveFromBottom{
            from {
                -webkit-transform: scale(.5);
                opacity: 0;
            }
            to {
                -webkit-transform: scale(1);
                opacity: 1;        
            }
        }
        
        
        @-o-keyframes fade{
            from {
                opacity: 0;
            }
            to {
                opacity: 1;        
            }
        }
        
        
        @-o-keyframes moveFromBottom{
            from {
                -webkit-transform: scale(.5);
                opacity: 0;
            }
            to {
                -webkit-transform: scale(1);
                opacity: 1;        
            }
        }
        
         @keyframes fade{
            from {
            	opacity: 0;
            }
            to {
                opacity: 1;        
            }
        }
        
        
        @keyframes moveFromBottom{
            from {
                -webkit-transform: scale(.5);
                opacity: 0;
            }
            to {
                -webkit-transform: scale(1);
                opacity: 1;        
            }
        }
        
        #closeButtonImg
            {
                position:absolute;
                right:1px;
                cursor:pointer;
                border:none;
                margin-top: -240px;
                margin-right: -30px;
            }
            
       #girlUsernameInput{
	      margin-top: 55px; 
       }   
         
       #girlUsernameInput, #password{
			width: 150px;
			height: 20%;
			border: #B1009B solid 2px;
			padding: 5px;
			background: black;
			color: white;
			font-size: 21px;
			font-family: arial; 
		}       
		
		#submitButton{
			
			background: white;
			color: black;
			border: solid 2px black;
			width: 100px;
			height: 30px;
			padding: 10px;
			font-family: arial;
			font-size: 20px;
			margin: 5px;
			border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
			-moz-border-radius: 15px;
			
		}
		
		#submitButton:hover{
			background: #9d9d9d;
			color: #ffffff;
			border: solid 2px #66CCCC;
		}
		
		#submitButton:active{
			background: black;
			color: #66CCCC;
			border: solid 2px #ffffff;
		}
		
		#makePassword{
			width: 130px;
			height: 35px;
			border-radius: 15px;
			-moz-border-radius: 15px;
			border-radius: 15px;
			-moz-border-radius: 15px;
			background: white;
			color: black;
			border: solid 2px black;
			font-size: 15px;
		}
		
		#makePassword:hover{
			background: #9d9d9d;
			color: #ffffff;
			border: solid 2px #66CCCC;
		}
		
		#makePassword:active{
			background: black;
			color: #66CCCC;
			border: solid 2px #ffffff;
		}
		
		a:link {text-decoration:none;}
		a:visited {text-decoration:none;}
		a:hover {text-decoration:none;}
		a:active {text-decoration:none;}
		
		#popup p{
			margin-top: 100px;
		}
		
		#popup img{
			width: 600px;
		}
		
		#popup input{
			position: absolute;
			top: 129px;
			left: 842px;
			width: 360px;
			height: 36px;
			font-size: 16px;
		}
            