
			body{
				background: url(http://54.235.78.70/pulse/images/diagonal.png) repeat; 
				zoom: reset;
				color: black;
				font-family: 'Roboto Condensed', sans-serif;
				margin: 0px;
			}
			
			a:link {text-decoration:none;}
			a:visited {text-decoration:none;}
			a:hover {text-decoration:none;}
			a:active {text-decoration:none;}
		
			section#topDecoy{
				height:80px;
				margin: 0px;
				background-color: rgba(255,255,255,0);
			}
			section#topDecoy2{
				height:80px;
				margin: 0px;
				background-color: rgba(255,255,255,0);
			}
			
			nav{
				width:100%;
				height: 80px;
				background-color: #29303a;
				position: fixed;
				top: 0px;
				z-index: 1;
				box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
			}
			
			ul{
				margin: 0px;
				padding: 0px;
			}
			
			ul li{
				list-style: none;
				display: inline;
				top: 0px;
			}
			nav img{
				height: 75%;
				margin-top: 8px;
				margin-left: 30px;
				margin-right: 30px;
			}
			
			nav img#record{
				float:right;
			}
			
			section{
				width: 1050px;
				height: 600px;
				margin: 0 auto;
				margin-top: 100px;
				margin-bottom: 100px;
				background-color: rgba(255, 255, 255, 0.75);
				border-radius:25px;
				-moz-border-radius:25px; /* Old Firefox */
			}
			
			.clearfix:before, .clearfix:after{
				content: " ";
				display: table;
			}
			
			.clearfix:after{
				clear: both;
			}
			
			section#suggestions{
				margin-top: 160px;
				border: 5px solid #77b8a8; 
			}
			
			section#charts{
				border: 5px solid #a9c1d9; 
			}
			
			section#popular{
				border: 5px solid #e0da86; 
			}

			section article{
				width:100%;
				margin-top: 60px;
			}
			h2{
				font-size: 40px;
				margin: 0px;
				margin-top: 20px;
			}
			
			div#rating{
				width:250px;
				float: left;
				margin-top: 15px;
				margin-left: 50px;	
			}
			
			div#stars{
				width: 137px;
				margin: auto;	
			}
			
			div#rating img.star{
				width:25px;	
			}
			
			img#moviePoster{
				width: 200px;
			}
			
			div#holder{
				width: 580px;
				float: right;
				margin: 0 auto;
				margin-top: 50px;
				margin-right: 80px;
				padding-left: 20px;
				padding-bottom: 20px;
				border-bottom: solid #77b8a8 3px;
				border-left: solid #77b8a8 3px;
				border-radius:3px;
			}
